<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Read-only BYD DiLink telemetry. This app deliberately requests no vehicle SET permission. -->
    <uses-permission android:name="android.permission.BYDAUTO_SPEED_COMMON" />
    <uses-permission android:name="android.permission.BYDAUTO_SPEED_GET" />
    <uses-permission android:name="android.permission.BYDAUTO_GEARBOX_GET" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".EngineSoundsApplication"
        android:allowBackup="true"
        android:appCategory="audio"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:restoreAnyVersion="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.EngineSoundsSimulator"
        android:usesCleartextTraffic="false">
        <provider
            android:name=".audio.FmodBankContentProvider"
            android:authorities="com.gabrielpc.enginesoundsimulator.fmodbanks"
            android:exported="true"
            android:grantUriPermissions="false" />
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:exported="true"
            android:resizeableActivity="true"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.EngineSoundsSimulator"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".EngineRuntimeService"
            android:exported="false" />
        <receiver
            android:name=".audio.MediaShiftButtonReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
